language: rust

cache: cargo

os:
  - linux
  - osx

rust: 
  - stable
  # - beta
  # - nightly 

before_install: 
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get update -qq; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get install ffmpeg; else brew install ffmpeg; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get install id3v2; else brew install id3v2; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get install mp4v2-utils; else brew install mp4v2; fi

install:
  - if [ $TRAVIS_OS_NAME = linux ]; then cargo install cargo-deb; fi
  

script: 
  - cargo build --release -vv
  - cargo test --release --all -vv

matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

before_deploy: 
  - "echo 'Running deploy'"
  - "cargo deb --no-build --no-strip"

deploy:
  provider: releases
  api_key:
    secure: y6y3uPQUai5Ko89sJmwWH2dRMhNgMtvvqGfxAwNyHX46b9YKgL49+DEU2IlGcXYR2YaMcR/Za+OuJ6UDs3zGS5w8PEQfrfUEBdfBTvnHRvKbmBnkfn6AQgk7v8lU/BiYNyKdTY678l0Gjk1hmdb8q1Ve2w95VBVR+zHZjftEUu1iRyOl0FITHqDtgm3rCD18E6Py7tnCiJAc7zJ0/Fvi9aufrJLnEq8lmoPDPB1WsxjC962kwD5+n7GXH3gj9uPV9aLrWw2Qsvya672a6rDMOz37BfTRzHsbXs1lecAQ54SkMy2+vXNzl366lLWlS7Mrf2ZjH7BWt7MOcK4Wj8YiNQ7zXvXLo9hDxV19CfrrWoQz56NevRPOhQ2C1e/AXo+Oim7GysRJnK0Pj2pET6MtCnISU3UyklpJ+CjVE4sbyq5gNsbBt23KOb6da17aaXzH9ydPURaWKtML5Y9aSQAkj2gbkssAPFfXIhbAoPW12R4fjDq8AtZ2ek+ulfxpNxH87nK4hSY1vknrY8lkyjDe18D8yAXg6XEqDoOmpHPPJ7/s2djJSEVg/LWHvXOXgnJovBTtllxvaAh40CMXh6jvpKrSWj/9DvvNJ90cKtoBgPuNvycH/XK3PKwpTcWrIMcMtGmrJNjXaXd/ufKK3vh66AHKsk8vSNfZBLsPjyMVit4=
  
  #   - "./scripts/package.sh ."
  # file_glob: true
  file: 
    - "target/release/ellington"
    - "target/debian/ellington_0.1.0_amd64.deb"
    # - "target/debian/ellington_0.1.0_amd64.deb"
    # - "releases/*.zip"
  skip_cleanup: true
  on:
    # tags: true
    os: linux
    rust: stable

